#top {
    display: flex;
    flex-direction: row;
    color: var(--primary);
    justify-content: space-between;
    align-items: end;
}

h2 {
   margin-bottom: 1rem;
}

h3 {
    margin-top: 1rem;
}


#instructions p {
    margin-bottom: 0;
}

#instructions .bottom-paragraph {
    margin-top: 0;
    margin-left: 1.3em;
}

#instructions .video {
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions .step-instructions {
    margin-top: 2em;
    margin-bottom: 0;
}

#instructions .steps-paragraphs {
    margin-top: 0;
    color: var(--text);
}

#instructions .bottom-paragraph-steps {
    margin-top: 0;
    margin-left: 0.9em;
}

#instructions .step-instructions-two {
    margin-top: 2em;
    margin-bottom: 0;
}

#instructions .steps-paragraphs-two {
    color: var(--text);
}

#instructions .quiz-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.back-paragraph {
    margin-top: 5em;
}

.next-modul-btn {
    margin-left: 20em;
}

#search-btn {
  background-color: var(--secondary);
  color: var(--offwhite);
  font-size: 16px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  cursor: pointer;
  border: 1px solid var(--secondary);
  width: 4rem;
  height: 3.5rem;
  align-self: center;
}

.bi {
  color: var(--off-white);
  font-size: 20px;
}

main {
    width: 90%
}