main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0;
}

img {
  width: 150px;
  height: 150px;
  align-self: center;
  margin-bottom: 1rem;
  
}

#lesson-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}


#lesson-buttons button:hover {
  background-color: #2d4a47;
  color: #e1dede;
}

.lesson-mod-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

p {
  color: var(--primary);
}