@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v12/9Bt23C1KxNDXMspQ1lPyU89-1h6ONRlW45G04pIoWQeCbA.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/atkinsonhyperlegible/v12/9Bt73C1KxNDXMspQ1lPyU89-1h6ONRlW45G8Wbc9dCWPRl-uFQ.woff2)
    format("woff2");
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary: #3b615e;
  --secondary: #a65a00;
  --background: #f1f0ea;
  --offblack: #1f1f1f;
  --offwhite: #fffffe;
  --error: #a52422;
  --success: #3e7c4c;
  --border: #8d8d8d;
  --text: #1c1c1c;
  --text-medium-grey: #2e2e2e;
  --text-light-grey: #6b6b6b;

  --font-primary: "Atkinson Hyperlegible";
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: var(--primary);
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: normal;
}

p {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--background);
  font-family: var(--font-primary);
}

header {
  width: 100%;
  height: auto;
  background-color: var(--offwhite);
  /* border-bottom: 1px solid var(--text-light-grey); */
}

#logo {
  width: 100%;
  height: 50px;
  object-fit: contain;
  display: block;
  margin: 1rem 0.5rem;
}

main {
  flex-grow: 1;
  margin: 1rem 2rem;
}

footer {
  bottom: 0;
}

.primary-btn {
  background-color: var(--primary);
  color: var(--offwhite);
  font-size: 16px;
  font-weight: bold;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border-style: none;
  cursor: pointer;
}

.primary-reversed-btn {
  background-color: var(--offwhite);
  color: var(--primary);
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem;
  bottom: 0;
  border: 1px solid var(--primary);
  cursor: pointer;
  width: 80px;
}

.secondary-btn {
  background-color: var(--secondary);
  color: var(--offwhite);
  font-size: 16px;
  font-weight: bold;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 1rem;
  border-color: var(--secondary);
  border-style: none;
  cursor: pointer;
}



.nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #hero {
  position: relative;
  width: 100%;
  height: 60vh;
  min-height: 30vh;
  overflow: hidden;
  margin: 3rem 1rem 3rem 1rem;
  display: flex;
  flex-direction: column;
} */

#hero-pic {
  object-fit: cover;
  display: block;
  margin-bottom: 0;
}
/* 
#gradient-hero {
  width: 100%;
  height: 60px;
  background-color: #d8b57c;
  background-image: linear-gradient(to bottom, #dacfbd, var(--background));
} */

#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:disabled {
  background-color: var(--text-light-grey);
}