:root {
  --primary: #000000;
  --secondary: #afafaf;
  --background: #585858;
  --offblack: #1f1f1f;
  --offwhite: #f1f1f1;

  font-family: system-ui, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: var(--offwhite);
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--secondary);
}
header img {
  display: block;
  height: 50px;
  margin: 10px;
}

main {
  margin-top: 60px;
  flex-grow: 1;
}

/* Quiz */

#initialQuiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkboxInputs,
#radioInputs,
#quizSubmitBtn,
#quizNextBtn {
  display: none;
}

#noSelected {
  display: none;
  color: red;
}
