#quizMainLayout {
  border-radius: 5px;
  background-color: var(--offwhite);
  width: 300px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

#quizQuestion {
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
}

#quizSubmitBtn,
#quizNextBtn {
  margin-top: 10px;
}

#quizForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#radios,
#checkboxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  accent-color: var(--secondary);
}

#checkboxInputs,
#radioInputs,
#quizSubmitBtn,
#quizNextBtn,
#quizResult {
  display: none;
}

#noSelected {
  opacity: 0;
  color: var(--error);
}

#quizQuestion {
  color: var(--offwhite);
  margin-top: 0;
  padding: 10px;
  background-color: var(--primary);
}

input {
  transform: scale(2);
  margin-right: 20px;
}

label {
  margin-left: 15px;
}

#answer {
  position: absolute;
  width: 230px;
}

#resultText {
  white-space: pre-line;
  margin-bottom: 3rem;
}

#resultText,
#resultHeading {
  color: var(--primary);
}

body.quiz-started #hero-container {
  display: none;
}

#quiz {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

#createAccountBtn {
  margin: 0;
}
