details {
  position: relative;
  text-align: center;
}

summary::after {
  content: 'MENY';
}

summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}

details[open] summary::before {
  content: "X";

}
details[open] summary::after {
  content: ""
}

.menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

details[open] .menu {
    display: block;
}

.menu a {
    display: block;
    text-align: center;
    gap: 0
}

.menu-options-box {
    display: flex;
    flex-direction: column;
}