.container {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 1.5rem  ;
    background-color: var(--offwhite);
}

#reg-img {
    display: block;
    width: 260px;
    height: 390px;
}

#registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

}